*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        font-family : Poppins;
}

:root{
        --primary: royalblue;
        --secondary: rgb(254, 20, 20);

        --black : rgb(20, 20, 20);
        --white : rgb(241, 234, 234);
}

body{
        background-color: rgb(223, 223, 223);
        height: 100dvh;

        display: flex;
        flex-direction: column;
        align-items: center;
}

header{
        width: 100%;
        background-color: var(--black);
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 3em;
}

header .container{
        width : 90%;
        
        display: flex;
        align-items: center;
}

header .container .logo{
        font-size: 1.4rem;
}

.App{
        width: 90%;
        max-width: 1000px;
        height: 100%;
        display: flex;
        flex-direction: column;
}

.App .title h1{
        color: var(--black);
        font-size: 1em;
        margin-bottom: 2rem;
}

.App .product{
        width: 100%;
        gap: 2rem;
        display: grid;
}

.App .product-metrics{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.App .product-metrics .margin-container{
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        width: 100%;
}

h3{
        font-size: 1em;
}

h3 span{
        font-size: 1em;
}

.App .product-metrics .expenses-container{
        width: 100%;
        margin-block: 2em;
}

.App .product-metrics .expenses-container .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
}

.App .product-metrics .expenses-container .header button{
        border: none;
        background-color: inherit;
        font-size: 1em;
        font-weight: bold;
}

.App .product-metrics .expenses-container .header .add-expense{
        color: var(--primary);
}

.App .product-metrics .expenses-container .header .clear-expense-list{
        color: var(--secondary);
}

.App .product-metrics .expenses-container .expense-list{
        overflow-y: auto;
        scroll-behavior: smooth;
        width: 100%;
        max-height: 15em;
}

.App .product-metrics .expenses-container .expense{
        margin-block: 0.2em;
        display: grid;
        grid-template-columns: 70% auto;
        width: 100%;
}

.App .product-metrics .expenses-container .expense input{
        background-color: inherit;
        padding-left: 0.5rem;
        border: 1px solid var(--black);
        outline: none;
        width: 100%;
        font-size: 1em;
}

.App .product-metrics .expenses-container .expense .expense-name{
        border-right: none;
}

.App .product-metrics .footer{
        width: 100%;
}

.App .product-metrics .footer .calculate-btn{
        width: 100%;
        padding: 0.3rem;
        background-color: var(--black);
        color: white;
        border: none;
        outline: none;
        transition: opacity 150ms linear;
}

.App .product-metrics .footer .calculate-btn:hover{
        opacity: 0.9;
}

.App .product .product-result{
        padding: 1rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(250, 250, 250);
}
.product-result .title{
        font-size: 1.4em;
        font-weight: normal;
        color: var(--black);
}
.product-result .price{
        color: var(--primary);
        font-size: 3em;
}

hr{
        height: 1px;
        width: 100%;
}

.product-result .vat-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
}
.product-result .vat-container h3,
.product-result .vat-container h3 span{
        font-size: 1em;
        font-weight: normal;
        color: var(--black);
}

.product-result .vat-container  .vat-price{
        font-weight: bold;
        color: var(--primary);
}

.product-result .footer-container{
        margin-top: 1rem;
        width: 100%;
}

.product-result .footer-container .printout-btn{
        padding-block: 0.3rem;
        background-color: inherit;
        border: 2px solid var(--black);
        outline: none;
        width: 100%;
}


@media (min-width : 700px){
        .App .product{
                grid-template-columns: 60% auto;
        }
}